* 
{
    margin: 10px;
}
body{
    background-color: aquamarine;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    width: 250px;
    height: 200px;
}
p{
    background-color: bisque;
    margin: 5px;
    padding: 5px;
}